/* PostCard-Setting */

.postCard-setting { position: relative; }
.postCard-setting .threeDots:hover { cursor: pointer; }
.postCard-setting .showSetting-btns {
    -moz-animation: toggleIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    -webkit-animation: toggleIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    -o-animation: toggleIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: toggleIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80px;
    right: 0;
    top: 25px;
    background: black;
    padding: 1px 0 0 0;
}.postCard-setting .showSetting-btns::before {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000;
    height: 0;
    right: 0;
    top: -6px;
}
.postCard-setting .showSetting-btns button {
    background: transparent;
    color: white;
    border: none;
    text-align: right;
    font-size: 14px;
    padding: 8px;
}.postCard-setting .showSetting-btns button:hover {
    background: #737272;cursor: pointer;
}.postCard-setting .showSetting-btns button:active { padding: 9px; }

/* keyframes */
@-webkit-keyframes toggleIn /* Safari and Chrome */  {
    0% {
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    } 30% {
        -webkit-transform: scale(1.2) translateY(-3px);
        -o-transform: scale(1.2) translateY(-3px);
        transform: scale(1.2) translateY(-3px);
        opacity: 0.3;
        right: 3px;
    } 50% {
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0.5;
    } 90% {
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes toggleIn {
    0% {
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    } 30% {
        -ms-transform: scale(1.2) translateY(-3px);
        -moz-transform: scale(1.2) translateY(-3px);
        -webkit-transform: scale(1.2) translateY(-3px);
        -o-transform: scale(1.2) translateY(-3px);
        transform: scale(1.2) translateY(-3px);
        opacity: 0.3;
        right: 3px;
    } 50% {
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0.5;
    } 90% {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.7;
    } 100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}