.welcom-divWrapper {
    margin: 20px
}
.welcom-innerDiv {
    background: #eee;
    width: 100%;
    padding: 20px;
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.welcom-innerDiv img {
    height: 15px;
    margin-right: 5px;
}
.welcom-h4 { margin: 0; }