.usernameWrapper {
    background: white;
    margin-top: 40px
}
.informationWrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.userInfo {
    display: flex;
    flex-direction: column;
}
.userInfo_1 {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}
.userInfo_name {
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 700
}
hr {
    opacity: 0.1;
}
.userInfo-btns { display: flex;align-items: center;}
.allUserInfo { display: flex;justify-content: center; }
.allUserInfo-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 40px;
}
.navWrapper {
    display: flex;
    flex-direction: row;
    min-width: 400px; 
}.hr-nav { margin-bottom: 40px; }
.images {
    padding: 5px 20px;
}
.user { color: #818182;cursor: pointer; }
.user:nth-child(odd) {
    margin-right: 30px;
}
.user:hover {
    color: black
}
.user a {
    text-decoration: none;
    color: #818182
} .user a:hover { color: black }
.followBtn {
    margin-right: 10px;
    border-radius: 6px;
    background: #d4afaf;
    color: white;
    border: 1px;
    font-size: 15px;
    width: 110px;
    margin-top: 2px;
    font-weight: 500;
    cursor: pointer;
    padding: 7px;
}.followBtn:hover { background-color: #c9a1a1 }
.followBtn:active { padding-left: 10px; }
.followingBtn { width: 120px;background-color: #000 }
.followingBtn:hover { width: 120px;background-color: #393838 }
.messageBtn {
    margin-right: 10px;
    border-radius: 6px;
    background: #0085ad;
    color: white;
    border: 1px;
    font-size: 15px;
    width: 90px;
    margin-top: 2px;
    font-weight: 500;
    cursor: pointer;
    padding: 7px;
}.messageBtn:hover { background-color: #017294; }
.messageBtn:active { padding-left: 10px; }

.user-location-portfolio_url {
    display: flex;
    padding: 0 10px;
}
.user-bio {
    display: flex;
    padding: 10px;
}.user-bio div { margin-right: 60px; }

/*  */

.photos {
    margin-bottom: -10px;
    margin-left: 20px;
    padding-bottom: 20px
}
.likes {
    margin-bottom: -10px;
    margin-left: 30px;
    padding-bottom: 20px;
}
.collections {
    margin-bottom: -10px;
    margin-left: 30px;
    padding-bottom: 20px;
}
.navLink {
    text-decoration: none;
    color: #818182;
    cursor: pointer;
}.navLink:hover { color: black; }
.photosCategory {
    display: flex;
    flex-direction: row;
}
.one {
    display: flex;
    flex-direction: column;
}
.two {
    display: flex;
    flex-direction: column;
}
.three {
    display: flex;
    flex-direction: column;
}
.full {
    width: 100%;
}
.divLoadMore {
    text-align: center;
}
.loadMorePhotos {
    /* border: 1px;
    background-color: black;
    color: white; */
    background: none;
    border: 1px solid #eee;
    color: #818182;
    padding: 12px;
    margin: 15px 0 15px 0px;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    font-weight: 500;
}
.loadMorePhotos:hover {
    border: 1px solid black;
    color: black;
    font-weight: 500;
}
.likesContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
    justify-content: center;
}
.mediaWidth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    grid-gap: 0.1px 10px;
    /* padding-right: 15px; */
    grid-auto-rows: 10px;
}
.mediaWidth .likes-userProfile-container {
    padding: 0;
}

@media screen and (max-width: 992px) {
    .photosCategory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mediaWidth {
        display: grid;
        grid-template-columns: 49% auto;
        align-items: flex-start;
        grid-gap: 0.1px 10px;
        /* padding-right: 15px; */
        grid-auto-rows: 10px;
    }
    .mediaWidth .likes-userProfile-container {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .photosCategory {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .one {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .two {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .three {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .userInfo_1 { display: block; }
    .userInfo_name { margin-bottom: 5px;font-size: 20px; }
    .user-location-portfolio_url { font-size: 13px; }
    .user:nth-child(odd), .user-bio div { margin-right: 20px; }
}

@media screen and (max-width: 576px) {
    .mediaWidth {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        grid-gap: 0.1px 10px;
        /* padding-right: 15px; */
        grid-auto-rows: 10px;
    }
    .navWrapper { font-size: 12px;min-width: 300px; }
    .photos, .likes , .collections { margin-left: 20px; }
    .informationWrapper { padding: 10px;justify-content: flex-start; }
    .followBtn { font-size: 12px;width: 80px;margin-right: 5px; }
    .messageBtn { font-size: 12px;width: 75px; }
    .allUserInfo { flex-direction: column;text-align: left; }
    .user-location-portfolio_url, .user-bio div { font-size: 14px; }
}
@media screen and (max-width: 430px) {
    .navWrapper { min-width: 300px; }
    .user-location-portfolio_url { flex-direction: column; }
    .user:nth-child(odd), .user-bio div { margin-right: 0; }
}

/* Message */

.messageWrapper {
    background: linear-gradient(to bottom right, #fff9c6, pink, #2a88b8);
    width: 800px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.inner-messageWrapper {
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.messageContainer {
    padding: 0 15px;
    text-align: left;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    overflow-y: auto;
    /* backgroundImage: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background: rgba(255, 255, 255, 0.7); */
    border-radius: 3px;
}
.message-form { width: 100%; }
.message-inputStyle {
    width: 100%;
    padding: 10px;
    border: 0;
    border-top: 3px solid #ed6262;
}
.selfMessage {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.userMessage {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: end;
    align-items: center;
}
.userMessageView {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: end;
    align-items: center;
}
.userMessageView .message-time { right: 0 }
.selfMessageView {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
}
.selfMessageStyleView {
    word-wrap: anywhere;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-color: #d4afaf;
    padding: 8px 10px;
    position: relative;
    color: white;
    border-radius: 8px;
    margin-left: 8px;
}
.userMessageStyleView {
    word-wrap: anywhere;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    position: relative;
    color: black;
}
.userMessageStyleView::before {
    content: "";
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    border-left: 6px solid #fff;
    right: -6px;
}
.message-image {
    width: 35px;
    height: 36px;
    border-radius: 50%;
}
.message-time {
    font-size: 12px;
    margin: 3px;
    position: absolute;
    bottom: -20px;
}
.selfMessageStyle {
    word-wrap: anywhere;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-color: #d4afaf;
    padding: 8px 10px;
    border-radius: 2px;
    position: relative;
    color: white;
}
.selfMessageStyle::before {
    content: "";
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    border-right: 6px solid #d4afaf;
    left: -12px;
}
.userMessageStyle {
    word-wrap: anywhere;
    background: white;
    padding: 7px 10px;
    border-radius: 2px;
    position: relative;
    margin-right: 5px;
    border-radius: 8px;
}
.emptyMessageStyle {
    word-wrap: anywhere;
    background: transparent;
    padding: 8px 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    position: relative;
    align-self: end;
}
.message-to {
    width: 100.3%;
    background: #f88187;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color:#fff;
    position: relative;
    margin-top: -2px;
    padding: 8px;
    margin-left: -0.9px;
    border-bottom-left-radius: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}.message-toName { flex: 1; }
.message-iconWrapper { cursor: pointer; }

@media screen and (max-width: 1360px) {
    .messageWrapper {
        width: 800px;
    }
}
@media screen and (max-width: 1200px) {
    .messageWrapper {
        width: 800px;
        background: -moz-linear-gradient(bottom right, #fff9c6, pink,#2a88b8);
        background-repeat: repeat;
        background-attachment: scroll;
        background-size: auto;
    }
}
@media screen and (max-width: 992px) {
    .messageWrapper {
        width: 500px;
        background: -webkit-linear-gradient(left top, #fff9c6, pink, #2a88b8);
        background-repeat: repeat;
        background-attachment: scroll;
        background-size: auto;
    }
}
@media screen and (max-width: 768px) {
    .messageWrapper {
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        padding: 0;
    }
}
@media screen and (max-width: 576px) {
    .messageWrapper { width: 300px; }
    .message-to { width: 100.5%; }
    .post-form-divStyle { width: 100%; }
    .post-checkboxDiv { width: 100%; }
}

/* end of Message */