.editPostBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 6px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:#eee;
    border-bottom-color:#eee;
    background:white;
    border-left: 0;
    border-right: 0;
}.editPostBtn:hover {
    background: gainsboro;
    border-radius: 5px;
    border: 1px solid powderblue;
    font-weight: 600;
    cursor: pointer;
}
.cancelPostBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#eee;
    background:white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}.cancelPostBtn:hover {
    background: gainsboro;
    border-radius: 5px;
    border: 1px solid powderblue;
    font-weight: 600;
    cursor: pointer;
}