#modal-container-showUserImage {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 5;
}
#modal-container-showUserImage.showUserImage {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#modal-container-showUserImage.showUserImage .modal-background-showUserImage {
  background: rgba(0, 0, 0, 0);
  -moz-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.showUserImage .modal-background-showUserImage .modal-showUserImage {
  -ms-transform: translateX(-1500px);
  -moz-transform: translateX(-1500px);
  -webkit-transform: translateX(-1500px);
  -o-transform: translateX(-1500px);
  transform: translateX(-1500px);
  -moz-animation: roadRunnerInRight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: roadRunnerInRight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: roadRunnerInRight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerInRight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.showUserImage.out {
  -moz-animation: quickScaleDown 0s .5s linear forwards;
  -webkit-animation: quickScaleDown 0s .5s linear forwards;
  -o-animation: quickScaleDown 0s .5s linear forwards;
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container-showUserImage.showUserImage.out .modal-background-showUserImage {
  -moz-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.showUserImage.out .modal-background-showUserImage .modal-showUserImage {
  -moz-animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.out {
  -moz-animation: quickScaleDown 0s .5s linear forwards;
  -webkit-animation: quickScaleDown 0s .5s linear forwards;
  -o-animation: quickScaleDown 0s .5s linear forwards;
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container-showUserImage.out .modal-background-showUserImage {
  -moz-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.out .modal-background-showUserImage .modal-showUserImage {
  -moz-animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showUserImage.out .modal-background-showUserImage .modal-showUserImage h2, #modal-container-showUserImage.out .modal-background-showUserImage .modal-showUserImage p {
  -moz-animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.out .modal-background-showUserImage .modal-showUserImage .modal-svg rect {
  -moz-animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -o-animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background-showUserImage {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-background-showUserImage .modal-showUserImage {
  background: white;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
.modal-background-showUserImage .modal-showUserImage h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-background-showUserImage .modal-showUserImage p {
  font-size: 18px;
  line-height: 22px;
}
.modal-background-showUserImage .modal-showUserImage .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modal-background-showUserImage .modal-showUserImage .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 1;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}


@-webkit-keyframes fadeIn /* Safari and Chrome */ {
  0% { background: rgba(0, 0, 0, 0);
  } 100% { background: rgba(0, 0, 0, 0.7); }
}
@keyframes fadeIn {
  0% { background: rgba(0, 0, 0, 0);
  } 100% { background: rgba(0, 0, 0, 0.7); }
}
@-webkit-keyframes fadeOut /* Safari and Chrome */ {
  0% { background: rgba(0, 0, 0, 0.7);
  } 100% { background: rgba(0, 0, 0, 0); }
}
@keyframes fadeOut {
  0% { background: rgba(0, 0, 0, 0.7);
  } 100% { background: rgba(0, 0, 0, 0); }
}
@-webkit-keyframes quickScaleDown /* Safari and Chrome */ {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  } 99.9% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  } 100% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes quickScaleDown {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  } 99.9% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  } 100% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes roadRunnerInRight /* Safari and Chrome */ {
  0% {
    -webkit-transform: translateX(0) skewX(30deg) scaleX(1.3);
    -o-transform: translateX(0) skewX(30deg) scaleX(1.3);
    transform: translateX(0) skewX(30deg) scaleX(1.3);
  } 70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    -o-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  } 100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    -o-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerInRight {
  0% {
    -ms-transform: translateX(0) skewX(30deg) scaleX(1.3);
    -moz-transform: translateX(0) skewX(30deg) scaleX(1.3);
    -webkit-transform: translateX(0) skewX(30deg) scaleX(1.3);
    -o-transform: translateX(0) skewX(30deg) scaleX(1.3);
    transform: translateX(0) skewX(30deg) scaleX(1.3);
  } 70% {
    -ms-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    -moz-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    -o-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  } 100% {
    -ms-transform: translateX(0px) skewX(0deg) scaleX(1);
    -moz-transform: translateX(0px) skewX(0deg) scaleX(1);
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    -o-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@-webkit-keyframes roadRunnerOut /* Safari and Chrome */ {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    -o-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  } 30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    -o-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  } 100% {
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    -o-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes roadRunnerOut {
  0% {
    -ms-transform: translateX(0px) skewX(0deg) scaleX(1);
    -moz-transform: translateX(0px) skewX(0deg) scaleX(1);
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    -o-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  } 30% {
    -ms-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    -moz-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    -o-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  } 100% {
    -ms-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    -moz-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    -o-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@-webkit-keyframes sketchOut /* Safari and Chrome */ {
  0% { stroke-dashoffset: 0;
  } 100% { stroke-dashoffset: 778; }
}
@keyframes sketchOut {
  0% { stroke-dashoffset: 0;
  } 100% { stroke-dashoffset: 778; }
}

@-webkit-keyframes modalFadeOut /* Safari and Chrome */ {
  0% { background-color: white;
  } 100% { background-color: transparent; }
}
@keyframes modalFadeOut {
  0% { background-color: white;
  } 100% { background-color: transparent; }
}

@-webkit-keyframes modalContentFadeOut /* Safari and Chrome */ {
  0% { opacity: 1;
    top: 0px;
  } 100% { opacity: 0;
    top: -20px;
  }
}
@keyframes modalContentFadeOut {
  0% { opacity: 1;
    top: 0px;
  } 100% { opacity: 0;
    top: -20px;
  }
}
